{% extends "layout.html" %}
{% block body %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{url_for('static', filename = 'img/home-bg.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ params['admin_heading'] }}</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
Dashboard
<div class="container" style="padding: 800px" size="50px">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>  


  <table class="table table-bordered table-active ">
    <thead class="table-primary">

      <tr>
        <th scope="col">S no.</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts%}
      <tr>
        <th scope="row">{{post.sno}}</th>
        <td>{{ post.title }}</td>
        <td>{{ post.date }}</td>
        <td><a href="/edit/{{post.sno}}">
          <div class="container">
            <button class="btn btn-primary btn-xsm rounded" type="submit">EDIT</button>
          </div>
        </a>
      </td>
      <td><a href="/delete/{{post.sno}}">
        <div class="container">
          <button class="btn btn-primary btn-sm rounded" type="submit">DELETE</button>
        </div></a>
      </td>



    </tr>
    {% endfor %}


    
  </tbody>

</table>


</div>
{% endblock %}




